<!DOCTYPE html>
    <html>

        <head>
            <title>{% block title %}Tagony{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
            {% block head %}{% endblock %}
        </head>

        <style>

        .highlighter {color:red;}
        .main {color:blue;}
        </style>

        <body>
            <script src="https://code.jquery.com/jquery.js"></script>

        <form action="/fetch">
            <input type="text" id="input_url" placeholder="enter URL here" name="input_url"><input type="submit">
        </form>

        {% block body %}{% endblock %}
        </body>
    </html>