<!DOCTYPE html>
    <html>
 

        <style>

        .highlighter {color:orange; line-break:normal; white-space:wrap;} 
        .highlighter-dim {color:purple; line-break:normal; white-space:wrap;} 
        .flash {background: #f0d6d6; padding: 0.5em; border: 1px solid #aacbe2; list-style-type:none;}
        .nodot {list-style-type:none;}
        </style>
       

        <head>
            <title>{% block title %}Tagony{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
            {% block head %}{% endblock %}
        </head>


        <body>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
            <link rel="stylesheet" href="http://www.w3schools.com/w3css/w3-theme-teal.css">

            <script src="https://code.jquery.com/jquery.js"></script>
    
            <nav class="w3-sidenav w3-blue-grey" style="width:20%">
                
                <form action="/fetch" class="w3-container w3-text-grey">
                    <input type="text" class="w3-input" id="input_url" placeholder="enter URL here" name="input_url" ><input type="submit">
                </form>

                <ul class=nodot> <!--using jinja to build my css  -->
                    {% for taginfo in freqtionary %}
                    <li><div class="uclick" id="my_{{taginfo[0]}}">{{taginfo[1]}}: {{taginfo[0]}}</div></li>
                    {% endfor %}    
                </ul> 

            </nav>

            <div class="w3-container">
                <div class="w3-row">
                    <div class="w3-col w3-container m10 w3-grey" wrap="soft" style="margin-left:20%">
                        {{augmented_html|safe}} <!--safe is so jinja doesn't escape my html -->

                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class=flash>
                            {% for message in messages %}
                              <li>{{ message }} </li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}

                    </div>
                </div>
            </div>

        {% block body %}{% endblock %}
        </body>
        

        
    </html>