{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

    <!-- this now has access to augmented_html and freqtionary -->

    
     <div>{{augmented_html|safe}}</div>  <!-- safe is so jinja doesn't escape my html -->

     <ul>
     {% for taginfo in freqtionary %}
        <li><div class="uclick" id="my_{{taginfo[0]}}">{{taginfo[1]}}:{{taginfo[0]}}</div></li>
     {% endfor %}    
     </ul>

   

    <script>

    $(function(){
        $(".uclick").click(function(event){
            console.log(event.target.id)
            $("." + event.target.id).toggleClass("highlighter");
            $("#" + event.target.id).toggleClass("highlighter");
        });
    });

    </script>

{% endblock %}
